<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7Xphe4_3uytj3PtP_bvCZBq3nuZm-VR0</string>
	<key>GCM_SENDER_ID</key>
	<string>2106449428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kthdd.weightMate</string>
	<key>PROJECT_ID</key>
	<string>weight-mate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-mate-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2106449428:ios:be86c60a6d76e7af28d101</string>
</dict>
</plist>